.area {
  height: 650px;
  width: 100%;
  background-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
}

.area1 {
  height: 100vh;
  width: 20%;
  background-color: darkgrey;
  float: left;
}

.area2 {
  height: 100vh;
  width: 80%;
  background-color: darkolivegreen;
  float: right;
}

.box1 {
  height: 10%;
  width: 100%;
  background-color: cadetblue;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 20px 10px;
  color:white;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.box2 {
  height: 80%;
  width: 100%;
  background-color: blanchedalmond;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 90%;
  width: 90%;
  background-color: rgb(218, 136, 15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.container1 {
  height: 10%;
  width: 100%;
  background-color: cornflowerblue;
}

.container2 {
  height: 50vh;
  width: 100%;
  background-color: darkkhaki;
}

.container3 {
  margin: 0vh 0px;
  height: 10vh;
  width: 100%;
  background-color: rgb(87, 82, 4);
}

.space {
  height: 30%;
  width: 100%;
  background-color: coral;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  height: 50px;
  margin: 20px;
  /* margin-left: 5%; */
  /* margin-bottom: 25px; */
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

body {
  background-color: white;
}

.pagination {
  margin: 30px 10px;
}

.pagination a {
  color: black;
  padding: 1px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;

}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}